.navbar{
    background-color: #fff;
    font-weight: 500;
}
.container{
    margin: 10px;
    
}

.sigin-btn{
    background-color: #ff5a60 !important;
    color: white !important;
}

.sigin-btn:hover{
    background-color: #ff5a60;
    color: white;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.navbar-brand{
    color: #00a0df !important;
    font-size: 30px !important;

}


    